.body-header {
  margin: 10px;
  border-bottom: 1px solid grey;
}

.stretch-rows {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#case-convert-cntr {
  margin: 20px 0px 10px 0px;
}

#case-convert-hdr {
  text-align: center;
  margin: 5px;
}

.case-ele {
  display: inline;
  margin: 5px;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tall {
  height: 600px;
}

.form-ele {
  margin: 5px;
}

#output-text {
  resize: none;
  width: 90%;
}

#submit-cntr {
  display: flex;
  justify-content: center;
}

#input-text {
  white-space: pre-wrap;
  resize: none;
  width: 90%;
}
