<!DOCTYPE html>
<html>

<head>
  <title>Altairix Help Site</title>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <div id="header-container">
    <nav id="nav-menu" role="navigation">
      <div id="nav-menu-toggle">
        <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
        <input id="nav-menu-checkbox" type="checkbox" onblur="this.checked = false" />

        <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
        <span></span>
        <span></span>
        <span></span>

        <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
        <ul id="nav-menu-list">
          <a href="index">
            <li>Home</li>
          </a>
          <a href="gen">
            <li>Generator</li>
          </a>
          <a href="sub">
            <li>Substitution</li>
          </a>
          <a href="fmt">
            <li>Formatter</li>
          </a>
          <a href="templater">
            <li>Templater</li>
          </a>
          <a href="builder">
            <li>Builder</li>
          </a>
        </ul>
      </div>
    </nav>
    <h id="header-title">Altairix Help Site</h>
    <img id="header-logo" src="static/img/logo.png">
  </div>
  <div id="index-body">
    <a href="gen">
      <div class="index-link">Generator</div>
    </a>
    <a href="sub">
      <div class="index-link">Substitution</div>
    </a>
    <a href="templater">
      <div class="index-link">Templater</div>
    </a>
  </div>
</body>

</html>